:root {
  --color-dark: #000000;

  --border: 2px solid var(--color-dark);
  --border-radius: 10px;
  --border-radius-large: 27px;

  --font-family-base: "Jura";

  --container-width: 1190px;
  --container-padding-x: 20px;

  --section-padding-y: 35px;
}
